---
import '../../style/tailwind.css';
import Blog from "@layouts/blog";
import Date from "@components/utilities/Date";
import Posts from '../../Posts.js'
import Container from '../../components/spotlight/Container.astro';
import Header from '../../components/spotlight/Header.astro';
import Footer from '../../components/spotlight/Footer.astro';
import BaseLayout from '../../components/spotlight/BaseLayout.astro';

export async function getStaticPaths() {
  return (await Posts.all()).map(post => ({
    params: { path: post.relativePath },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---
<BaseLayout title={post.title} desc={post.description} img={post.img}>
  <Container class="mt-16 lg:mt-32">
    <div class="xl:relative">
      <div class="mx-auto max-w-2xl">
        <article>
          <header class="flex flex-col">
            <h1 class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">{post.title}</h1>
            <time dateTime="2022-09-02" class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500">
              <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500">
              </span>
              <span class="ml-3"><Date date={post.date}</span>
            </time>
          </header>
          <div class="mt-8 prose dark:prose-invert" data-mdx-content="true">

            <Content />

          </div>
        </article>
      </div>
    </div>
  </Container>
</BaseLayout>
